* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #e6e8ed;
  color:#666666;
  position: relative;
  font-family: "Montserrat",sans-serif;
}
.material-icons-outlined{
  vertical-align: middle;
  line-height: 1px;
  cursor: pointer;
}
.header {
  grid-area: header;
  height:70px;
  background-color: #ffffff;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:0 30px 0 30px;
  box-shadow: 0 6px 7px -4px rgba(0,0,0,0.2);
}
.header-right > span{
  color:black;
  padding:0 10px;
}
.menu-icon{
  display: none;
}
.sidebar-responsive{
  display:inline !important;
  position: absolute;
}
/* ------------media queries ------------*/
/* Medium <=992px */
@media screen and (max-width: 992px){
  
  .menu-icon{
    display:inline;
  }
  
}

/*Small <=768px */
@media screen and (max-width:768px){
 
}

/*Extra Small <=576px */
@media screen and (max-width:576px) {
  .header-left{
    display: none;
  }
}