.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas: "header header header header "
  "sidebar main main main";
  height:100vh;

}
.sidebar-responsive{
  display:inline !important;
  position: absolute;
}

/*--------------main---------------*/
.main-container {
  grid-area:main;
  overflow-y :auto;
  padding:20px 20px;
}
.charts{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:10px;

}
.charts-card{
  background-color: #ffffff;
  margin-bottom:20px;
  padding:25px;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  border:1px solid #d2d2d3;
  border-radius: 5px;
  box-shadow: 0 6px 7px -4px rgba(0,0,0,0.2);
}

.chart-title{
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
}

@media screen and (max-width: 992px){
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
    "header"
    "main";
  }
}
@media screen and (max-width:768px){
  .users_container{
    grid-template-columns: 1fr;
    gap:10px;
    margin-bottom: 0;
  }
}