

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas: "header header header header "
  "sidebar main main main";
  height:100vh;

}
.sidebar-responsive{
  display:inline !important;
  position: absolute;
}

/*--------------main---------------*/
.main-container {
  grid-area:main;
  overflow-y :auto;
  padding:20px 20px;
}
.main-title{
  display:flex;
  justify-content: space-between;
}
.main-title > p{
  font-size: 20px;
  color: #070707;
  font-weight: 600;
}
.main-cards{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap:20px;
  padding:20px 0;
}
.card{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  padding:25px;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 1px solid #d2d2d3;
  border-radius: 5px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}
.card:first-child{
  border-left: 7px solid #246dec;
}
.card:nth-child(2){
  border-left: 7px solid #f5b74f;
}
.card:nth-child(3){
  border-left: 7px solid #6f1d1b;
}
.card:nth-child(4){
  border-left: 7px solid #007200;
}
.card:nth-child(5){
  border-left: 7px solid #f72585;
}
.card:nth-child(6){
  border-left: 7px solid #c19ee0;
}
.card:nth-child(7){
  border-left: 7px solid #171614;
}

.card-inner{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.card-inner > p{
  font-size: 18px;
  color:black;
  font-weight: 500;
}
.card-inner > span{
  color:black;
  font-size: 35px;
}
.quantity{
  font-size: 18px;
  color:black;
  font-weight: 600;
}

/* ------------media queries ------------*/
/* Medium <=992px */
@media screen and (max-width: 992px){
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
    "header"
    "main";
  }

 
}

/*Small <=768px */
@media screen and (max-width:768px){
  .main-cards{
    grid-template-columns: 1fr;
    gap:10px;
    margin-bottom: 0;
  }
}

/*Extra Small <=576px */
@media screen and (max-width:576px) {
  
  
}